feed {
	display: block;
	color: #333;
	font: 0.9em Arial,"Geneva CE",lucida,sans-serif;
	margin: 1em 5em;
	padding: 0;
}

title {
	display: block;
	font-size: 140%;
	font-weight: bold;
}

tagline, link { 
	display: block; 
	font-size: 80%; 
}

id, modified { 
	display: none; 
}

generator { 
	display: block; font-size: small; 
}

info { 
	display: block; 
	margin: 1em 2em; 
	color: black; 
	background: #EAEAEA; 
	border: #333 solid 1px;
	text-align: center; 
	padding: 1.5em; 
	font-family: monospace;
	font-size: 110%;
}

entry {
	display: block;
	padding: 0; 
	margin: 1em 1em 2em 1em; 
}

entry modified, entry name { 
	display: inline; 
	color: #999999; 
	font-size: 90%; 
}

entry created, entry issued, entry id { 
	display: none; 
}

entry title { 
	display: block; 
	font-size: 110%; 
	font-weight: bold; 
	padding: 1em 1em 0em 0em;
	margin: 0; border-top: solid 1px #EEE; 
}

content { 
	display: block; 
	padding: 1em; 
	line-height: 1.5em; }
